$octoblue: #0D80D8 !default;
$octogreen: #36B065 !default;
$grey-dark: #212529 !default;
$grey: #858E95 !default;
$grey-light: #E4E7EA !default;

$primary: $octoblue !default;
$secondary: $octogreen !default;

$screen-lg: 75rem;
$screen-md: 60rem;
$screen-sm: 45rem;
$screen-xs: 37.5rem;