@import 'assets/scss/_variables';

.PricingConfig {
  margin: 0 auto;
  @media screen and (max-width: $screen-md) {
    margin-bottom: -2rem;
  }
  @media screen and (max-width: $screen-xs) {
    max-width: 25rem;
  }
}

.CustomSlider {
  padding: 0 1rem;

  :global .MuiSlider-root {
    display: block !important;
    height: 0.75rem !important;
    padding: 0 !important;
    box-sizing: border-box;
    margin: 0;
  }

  :global .MuiSlider-thumb {
    top:  50%;
    box-sizing: border-box;
    height: 2rem !important;
    width: 2rem !important;
    margin-top: -1rem;
    margin-left: -1rem;
    background-color: #fff !important;
    border: 4px solid $octoblue;
    &:hover {
      box-shadow: 0 3px 8px rgba($octoblue, 0.8);
    }
    &:not(:hover) {
      box-shadow: 0 3px 8px rgba(108,117,125,0.2);
    }
  }

  :global .MuiSlider-rail  {
    height: 0.75rem;
    opacity: 1;
    background-color: $grey-light;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -1rem;
      display: block;
      width: 2rem;
      height: 100%;
      background-color: inherit;
      border-radius: 0.375rem;
    }
  }

  :global .MuiSlider-track  {
    position: relative;
    height: 0.75rem;
    background-color: $octoblue;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -1rem;
      display: block;
      width: 2rem;
      height: 100%;
      background-color: inherit;
      border-radius: 0.375rem;
    }
  }

  // :global .MuiSlider-valueLabel  {
  //   left: 50%;
  //   top: -2.4rem;
  //   display: flex;
  //   justify-content: center;
  //   width: 6rem;
  //   margin: 0 -3rem;
  //   pointer-events: none;
  //   filter: drop-shadow(2px 0 4px rgba(0,0,0,0.2));
  //   transition: all 0.4s ease-in-out;
  //   & > span {
  //     width: auto;
  //     display: flex;
  //     align-items: center;
  //     padding: 0rem 0.8rem;
  //     background-color: $octoblue;;
  //     border-radius: 0.5rem;
  //     transform: none;
  //     transition: all 0.4s ease-in-out;

  //     & > span {
  //       transform: none;
  //       font-weight: 700;
  //     }
  //     &:before {
  //       content: '';
  //       position: absolute;
  //       left: 50%;
  //       bottom: 0;
  //       display: block;
  //       width: 0.5rem;
  //       height: 0.5rem;
  //       margin: -0.25rem;
  //       background-color: $octoblue;
  //       transform: rotate(45deg);
  //     }
  //   }
  // }
}

.SliderTitle {
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0;
  min-width: 13.5rem;
  h3 {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin: 0;
    cursor: help;
  }
  span {
    border-bottom: 1px dashed $grey;
  }
  svg {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    color: $grey;
  }
}

.SliderValueLabel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 3.5rem;
  margin-left: 1rem;
  background-color: $octoblue;
  border-radius: 8px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  filter: drop-shadow(2px 0 4px rgba(0,0,0,0.1));
  line-height: 1.75rem;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin: -0.25rem -0.4rem;
    border-style: solid;
    border-width: 0.25rem 0.4rem 0.25rem 0;
    border-color: transparent $octoblue transparent transparent;
  }
  & > small {
    font-size: 1rem;
  }
  & > span {
    display: block;
    font-size: 0.675rem;
    font-weight: normal;
    line-height: 1;
  }
}

:global .MuiTooltip-tooltip {
  width: 20rem;
  max-width: 88vw !important;
  padding: 1rem 1.25rem !important;
  background-color: $grey-dark !important;
  font-size: 0.875rem !important;
  pointer-events: all !important;
  filter: drop-shadow(0.1rem 0 0.5rem rgba($grey-dark, 0.1));

  & > .MuiTooltip-arrow {
    color: $grey-dark;
    bottom: 1px !important;
    font-size: 12px;
    border: none !important;
  }
  h4 {
    margin-bottom: 0.5rem;;
    font-size: 1rem;
    font-weight: bold;
  }
  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.PricingCard {
  position: relative;
  height: 100%;
  padding: 2.5rem 1rem 2.75rem;
  box-shadow: 0 0.2rem 2rem rgba($grey-dark, 0.08);
  border-radius: 1rem;
  border: 1px solid $grey-light;
  background-color: #fff;
  text-align: center;
  transition: all 0.4s ease;
  @media screen and (max-width: $screen-xs) {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    z-index: 2;
    box-shadow: 0 0.5rem 3rem rgba($grey-dark, 0.14);
  }

  h2 { margin-bottom: 0.25rem; }

  p {
    margin-top: 0;
    @media screen and (max-width: 640px) {
      font-size: 0.875rem;
    }
  }

  &:before {
    $chipHeight: 1.8rem;
    $chipWidth: 7.2rem;
    content: "          ";
    position: absolute;
    top: -1px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $chipHeight;
    width: $chipWidth;
    margin: calc($chipHeight / -2) calc($chipWidth / -2);
    border-radius: 0.9rem;
    background-color: $octoblue;
    color: #fff;
    font-size: 0.875rem;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
  }
  &__NotAvailable {
    opacity: 0.6;
  }

  &__Popular {
    border: 2px solid $octoblue;
    &:before {
      content: "Most popular";
      opacity: 1;
      visibility: visible;
    }
  }

  &__Unlimited {
    $chipHeight: 1.8rem;
    $chipWidth: 9rem;
    border: 2px solid $octoblue;
    &:before {
      content: "Unlimited targets";
      width: $chipWidth;
      margin: calc($chipHeight / -2) calc($chipWidth / -2);
      opacity: 1;
      visibility: visible;
    }
  }

  &__Price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin: 1.5rem 0 0.5rem;
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 1;
    sup {
      font-size: 1.5rem;
    }
    small {
      font-size: 1rem;
    }
    :global .notAvailable {
      font-size: 1.5rem;
    }
  }

  &__Detail {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    & > p {
      font-size: 0.75rem;
      color: $grey;
    }
  }

  &__BuyQuote {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
    font-size: 0.875rem;
    & > a {
      font-weight: bold;
    }
  }

  & > ul {
    display: block;
    max-width: 21rem;
    margin: 1rem auto 0;
    text-align: left;
    @media screen and (max-width: 820px) {
      font-size: 0.875rem;
    }
  }
  li {
    margin: 1rem 0 1rem 1.4rem;
    vertical-align: middle;
    &.FeatureNotAvailable {
      opacity: 0.2;
    }
    u {
      text-decoration: none;
      border-bottom: 1px dashed $grey;
      cursor: help;
    }
    :global svg.help {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 0.2rem;
      vertical-align: middle;
      fill: $grey;
      cursor: help;
    }
  }
  :global svg.icon-check,
  :global svg.icon-close {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
    margin-left: -1.4rem;
    vertical-align: -0.2rem;
  }

  &__Learn {
    display: flex;
    justify-content: flex-start;
    max-width: 21rem;
    margin: 1.75rem auto 0;
    text-align: left;
    a {
      display: flex;
      font-weight: bold;
    }
  }
}

:global .MuiContainer-maxWidthMd {
  @media screen and (max-width: $screen-md) {
    max-width: 50rem !important;
  }
}

.Container {
  max-width: 75rem;
  padding: 0 4rem;
  margin: 0 auto;

  @media screen and (max-width: $screen-lg) {
    max-width: 65rem;
    padding: 0 1.5rem;
  }
  @media screen and (max-width: $screen-md) {
    max-width: 50rem;
    padding: 0 1.5rem;
  }
  @media screen and (max-width: $screen-xs) {
    padding: 0 1rem;

  }
}

.PageHero {
  position: relative;
  padding: 8rem 0 4rem;
  background-color: $grey-subtle;
  text-align: center;
  @media screen and (max-width: $screen-lg) {
    padding: 6rem 0 6rem;
    margin-bottom: -3rem;
  }
  @media screen and (max-width: $screen-md) {
    padding: 6rem 0 8rem;
    margin-bottom: -5rem;
  }
  @media screen and (max-width: $screen-sm) {
    padding: 8rem 0 8rem;
    margin-bottom: -5rem;
  }
  @media screen and (max-width: $screen-xs) {
    padding: 7rem 0 18rem;
    margin-bottom: -15rem;
  }

  nav {
    margin-bottom: 3rem;
    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }
  li {
    padding: 0.25rem 0;
    // font-size: 0.925rem;
    &:first-child {
      margin-right: auto;
      font-weight: bold;
      border-bottom: 2px solid $octoblue;
    }
  }
  h1 {
    margin-bottom: 1.5rem;
  }
  p {
    @media screen and (max-width: $screen-xs) {
      font-size: 0.875rem;
    }
    @media screen and (max-width: 25rem) {
      br {
        content: "";
      }
      br:after {
        content: " ";
      }
    }
  }
  svg {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
  }
}

.PricingCommunity {
  max-width: 47rem;
  margin: 0 auto;
  :global svg.img {
    display: block;
    width: 8rem;
    margin: 0 auto;
    @media screen and (max-width: $screen-xs) {
      width: 10rem;
    }
  }
  p {
    margin-bottom: 0.5rem;
  }
  a {
    font-weight: bold;
    display: inline-flex;
  }
}